<h1> Here are all your projects </h1>

<% @projects.each do |p| %>
  <ul>
    <li><%= link_to p.title, project_path(:id => p.id) %></li>

  </ul>
<% end %>

<%= link_to "Add a new one!", new_project_path %>